["^ ","~:deck/id","deck-welcome","~:user/id","user-deckatron","~:deck/content","# Intro to Deckatron\nEach slide is followed by code example\n===\n# Header 1\n## Header 2\n===\n### Header 3\n#### Header 4\n===\n# List\n- one\n- two\n- three\n\n===\n# Ordered list\n1. one\n2. two\n3. three\n\n===\n# Code Blocks\n``` clojure\n(+ 1 2)\n(* 1 2)\n```\n===\n# Blockquote\n> aaa\n> bbb\n> ccc\n\n===\n# Links\n[Link to google](http://google.com)\n===\n# Awesome images\n![cat](http://stuffpoint.com/cats/image/232435-cats-awesome-cat.jpg)","~:deck/viewed-by",["~#set",["user-blgimqnduq0oop"]],"~:deck/spectators",["^4",["user-blgimqnduq0oop"]]]