* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; padding: 0; }

body, button, input, textarea { font-family: 'Slabo 27px', serif; }
textarea { font-size: inherit; }
a { text-decoration: none; color: inherit; }

body.err { opacity: 0.5; }



.menu { width: 100%; position: fixed; top: 0; left: 0; }
.menu, .q-icon { transition: 0.1s; transition-property: opacity; }
.faded .q-icon, .faded .menu { opacity: 0; transition: 0.3s linear; }



.btngroup { height: 44px; border: 3px solid #FFF; background: #FFF; border-radius: 9px; display: inline-block; }
.btngroup, .q-icon {   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn { background: white; display: inline-block; height: 100%; line-height: 30px; padding: 0 10px; cursor: pointer; border: 1px solid black; border-left-width: 0px; border-top-width: 2px; border-bottom-width: 4px; }
.btn:nth-child(1) { border-left-width: 2px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; margin-left: 0; }
.btn:last-child { border-right-width: 2px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; margin-right: 0; }

.btn:hover { position: relative; top: -1px; }
.menu-mode_selected { color: white; background-color: black; }

.fork:hover { background: #3C3; color: white; }

.logo > .btn, .menu-theme > .btn { width: 100%; }

.menu td { padding: 10px; text-align: center; white-space: nowrap; }

.td-logo { width: 170px; }
.logo { width: 140px; height: 60px; margin-left: 10px; }
.logo > .btn { line-height: 46px; font-size: 46px; }

.td-modes { width: 50%; }
.menu-mode { width: 90px; }

.td-theme { width: 50%; }
.menu-theme { width: 160px;  }
.menu-theme > .btn { text-align: left; padding: 0 10px; }


.td-stats {  }
.menu-stats:hover { top: 0; cursor: default; }
.menu-stats-bullet { display: inline-block; width: 14px; height: 14px; border-radius: 10px; border: 0px solid black; background: black; margin: 0 5px -2px 0; }
.menu-stats-bullet_live { background: red; }



.slide, .note { display: block; width: 40em; height: 22.5em; margin: 2em; border-radius: 1.5em; white-space: pre-wrap; word-break: break-word; overflow: hidden; padding: 2em; text-align: left; vertical-align: top; }
.slide  a, .note a { text-decoration: underline; }

.note { height: auto; }

.slide-inner, .note-inner { width: 100%; height: 100%; font-size: 2.5em; }
.slide_43 { height: 30em; }


.deck { display: inline-block; vertical-align: top; margin: 5px 10px; }
.page_home .slide { border-width: 2px; margin: 0; }
.deck-slide { position: relative; font-size: 7px; cursor: pointer; border: 4px solid white; border-radius: 1.9em; transition: 0.5s cubic-bezier(.1, .7, .1, 1); transition-property: transform; }
.deck-slide:hover { transform: translateY(-5px); }

.page_home { }

.layer-inner { width: 940px; margin: 0 auto; text-align: center; padding: 60px 0 30px; }
.layer-inner > h1 { margin: -96px 0 50px 10px; text-align: center; }
.layer-inner > h1 > .btngroup { height: 50px;  }
.layer-inner > h1 .btn { width: 100%; line-height: 40px; text-align: center; padding: 0 40px; }

.layer { padding: 0 0 60px 0;  }
.title { display: flex; justify-content: space-around; }
.title > span { font-size: 48px; }
.subtitle { text-align: center; letter-spacing: 1px; }

.layer_live { border-top: 2px solid black; background: #F9F9F9; }
.layer_live .text { background: white; width: 100px; margin: 0 auto; }
.layer_live .deck-slide { font-size: 12px; }

.authors-decks { background: #EEE; border-top: 2px solid #000; border-bottom: 2px solid #000; }

.deck-slide_deck-welcome { font-size: 10.5px; }
.deck-slide_deck-cheatsheet { font-size: 7.5px; }

.deck_new .slide { border-style: dashed; }
.deck_new .slide-inner { display: flex; align-items: center; justify-content: center; }

.deck-subtext { margin: 1px 14px 0; font-size: 13px; color: #999; text-align: right; }
.deck-subtext_spectators { text-align: left; }
.deck-subtext_spectators:before { content: "●"; color: red; margin-right: 5px;  }

.page_deck-edit > .editor, 
.page_deck-edit > .slides { float: left; }
.page_deck-edit > .slides { overflow: scroll; padding: 90px 0 60px; }

.editor, .hidden-editor { background-color: #EEE; font-size: 24px; line-height: 32px; }
.editor { padding: 130px 15px 60px 60px; border: none; outline: none; display: block; resize: none; }

.hidden-editor { white-space: pre-wrap; word-break: break-word; color: blue; position: absolute; top: 100px; left: 50%; visibility: hidden; }

.page_deck-read > .slides { margin: 0 auto; padding: 90px 0 60px; }

.page_deck-present { background: black; }

.page_deck-present .slide { margin: 0; }


.theme-popup { position: absolute; border: 3px solid #000; width: 760px; height: 580px; background: white; border-radius: 10px; padding: 20px 30px; right: 100px; top: 80px; box-shadow: 0 0 140px rgba(0,0,0,0.5); }
.slide-preview { font-size: 5px; float: left; margin: 10px 15px; transition: 0.5s cubic-bezier(.1, .7, .1, 1); transition-property: transform; cursor: pointer; }
.slide-preview_selected, .slide-preview:hover { transform: translateY(-5px); }
.slide-preview > .slide { margin: 0; text-align: center; }
.slide-preview > .slide > span { font-size: 5em; line-height: 3.75em;  }
.theme-name { font-size: 20px; margin: 10px 0; }
.slide-preview_selected .theme-name:before { content: "● "; }

.overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }

/* themes */

.default .slide { border: 0.3em solid black; background: white; color: black; }
.default .slide h1, .default .slide h2, .default .slide em, .default .slide strong, .default .slide a, .default .note a { color: #c33; }

.blue_purple .slide { border: none; background: linear-gradient(to bottom, #5B06F7 0%, #721FF4 100%); color: white; }
.blue_purple .slide h1, .blue_purple .slide h2, .blue_purple .slide em, .blue_purple .slide strong, .blue_purple .slide a, .blue_purple .note a { color: #DE97DF; }

.pelorous .slide { border: none; background: linear-gradient(to bottom, #79D1D3 0%, #2C9EBE 100%); color: white; }
.pelorous .slide h1, .pelorous .slide h2, .pelorous .slide em, .pelorous .slide strong, .pelorous .slide a, .pelorous .note a { color: #C53666; }

.peridot .slide { border: none; background: #E0E500; color: black; }
.peridot .slide h1, .peridot .slide h2, .peridot .slide em, .peridot .slide strong, .peridot .slide a, .peridot .note a { color: #39C1C8; }

.loulu .slide { border: none; background: #4D2345; color: white; }
.loulu .slide h1, .loulu .slide h2, .loulu .slide em, .loulu .slide strong, .loulu .slide a, .loulu .note a { color: #ECCC40; }

.cardinal .slide { border: none; background: #C12240; color: white; }
.cardinal .slide h1, .cardinal .slide h2, .cardinal .slide em, .cardinal .slide strong, .cardinal .slide a, .cardinal .note a { color: #3A0D29; }

.starship .slide { border: none; background: linear-gradient(to bottom, #E8FA39 0%, #9DE34F 100%); color: black; }
.starship .slide h1, .starship .slide h2, .starship .slide em, .starship .slide strong, .starship .slide a, .starship .note a { color: #C31B3D; }

.viola .slide { border: none; background: linear-gradient(to bottom, #FCC5D3 0%, #D081AE 100%); color: black; }
.viola .slide h1, .viola .slide h2, .viola .slide em, .viola .slide strong, .viola .slide a, .viola .note a { color: #811C2E; }

.wisteria .slide { border: none; background: linear-gradient(to bottom, #D4A7D2 0%, #94BCFA 100%); color: black; }
.wisteria .slide h1, .wisteria .slide h2, .wisteria .slide em, .wisteria .slide strong, .wisteria .slide a, .wisteria .note a { color: #4B4A94; }


/* questions */

.q-icon { position: absolute; right: 50px; bottom: 50px; background: black; border: 2px solid white; padding: 2px; border-radius: 24px; cursor: pointer; z-index: 100; }
.q-icon-inner { background: white; width: 40px; height: 40px; border-radius: 20px; text-align: center; line-height: 42px; font-size: 40px; }

.q-popup { position: absolute; height: 70%; width: 350px; right: 20px; bottom: 120px; border: 2px solid white; padding: 2px; border-radius: 10px; font-size: 16px; background: black; z-index: 100; }
.q-popup-inner { background: white; width: 100%; height: 100%; position: relative; border-radius: 6px; }
.q-ta { position: absolute; bottom: 0; width: 100%; height: 80px; background: white; resize: none; border: none; border-top: 1px solid black; font-size: inherit; padding: 10px 20px; outline: none; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.q-questions { position: absolute; top: 0; width: 100%; height: 100%; padding: 20px 20px 100px 20px; overflow: scroll; }
.q { width: 302px; background: #1B72FD; color: white; padding: 10px; margin: 0 0 35px 0; position: relative; white-space: pre-wrap; font-size: 1em; }
.q-t { width: 0; height: 0; border-right: 15px solid transparent; border-top: 15px solid #1B72FD; position: absolute; bottom: -15px; right: 20px; }
.q-likes { position: absolute; bottom: -1.2em; left: 0.5em; color: #999; cursor: pointer;  }
.q-heart { width: 0.8em; height: 0.6em; background: url(/heart.png); background-size: 0.6em; background-repeat: no-repeat; background-position: 0 0; display: inline-block; }

.q-likes:hover, .q-likes_voted { color: #dd2e44;  }
.q-likes:hover > .q-heart, .q-likes_voted > .q-heart { background-position: 0 -0.6em; }

.q-slide { padding: 0 20px; font-size: 20px; width: 100%; padding: 0 20px; text-align: center; color: white; }
.q-slide .q { display: inline-block; margin: 50px 20px; vertical-align: top; text-align: left; }


/***/

.slide h1, .note h1 { margin: 0 0 0.25em 0; font-size: 1.5em;  }
.slide h2, .note h2 { margin: 0 0 0.25em 0; font-size: 1.3em;  }
.slide h3, .note h3 { margin: 0 0 0.25em 0; font-size: 1.2em;  }
.slide ul, .note ul, .slide ol, .note ol { padding-left: 1em; margin: 0.5em 0; }
