* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; padding: 0; }

body, button, input, textarea { font-family: 'Slabo 27px', serif; }
textarea { font-size: inherit; }
a { text-decoration: none; color: inherit; }

body.err { border-top: 2px solid #C33; }



.menu { width: 100%; position: fixed; top: 0; left: 0; }


.btngroup { height: 44px; border: 3px solid #FFF; background: #FFF; border-radius: 9px; display: inline-block; }
.btn { background: white; display: inline-block; height: 100%; line-height: 30px; padding: 0 10px; cursor: pointer; border: 1px solid black; border-left-width: 0px; border-top-width: 2px; border-bottom-width: 4px; }
.btn:nth-child(1) { border-left-width: 2px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; margin-left: 0; }
.btn:last-child { border-right-width: 2px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; margin-right: 0; }

.btn:hover { position: relative; top: -1px; }
.menu-mode_selected { color: white; background-color: black; }

.fork:hover { background: #3C3; color: white; }

.logo > .btn, .menu-theme > .btn { width: 100%; }

.menu td { padding: 10px; text-align: center; white-space: nowrap; }

.td-logo { width: 170px; }
.logo { width: 140px; height: 60px; margin-left: 10px; }
.logo > .btn { line-height: 46px; font-size: 46px; }

.td-modes { width: 50%; }
.menu-mode { width: 90px; }

.td-theme { width: 50%; }
.menu-theme { width: 160px;  }
.menu-theme > .btn { text-align: left; padding: 0 10px; }


.td-stats {  }
.menu-stats:hover { top: 0; }
.menu-stats-bullet { display: inline-block; width: 14px; height: 14px; border-radius: 10px; border: 0px solid black; background: black; margin: 0 5px -2px 0; }
.menu-stats-bullet_live { background: red; }



.slide { display: block; width: 40em; height: 22.5em; border: 0.3em solid black; margin: 2em; border-radius: 1.5em; white-space: pre-wrap; word-break: break-word; background: white; }
.slide a { text-decoration: underline; }

.slide-inner { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 2.5em; }
.slide_43 { height: 30em; }


.page_home .deck { display: inline-block; vertical-align: top; }
.page_home .slide { font-size: 5px; border-width: 2px; }
.page_home { padding: 60px 30px; }
.slide_new { border-style: dashed; }
.deck-subtext { margin: -6px 14px 0; font-size: 13px; color: #999; text-align: right; }
.deck-subtext_spectators { text-align: left; }
.deck-subtext_spectators:before { content: "â—"; color: red; margin-right: 5px;  }

.page_deck-edit > .editor, 
.page_deck-edit > .slides { float: left; }
.page_deck-edit > .slides { overflow: scroll; padding: 90px 0 60px; }

.editor, .hidden-editor { background-color: #EEE; font-size: 24px; line-height: 32px; }
.editor { padding: 130px 15px 60px 60px; border: none; outline: none; display: block; resize: none; }

.hidden-editor { white-space: pre-wrap; word-break: break-word; color: blue; position: absolute; top: 100px; left: 50%; visibility: hidden; }

.page_deck-read > .slides { margin: 0 auto; padding: 90px 0 60px; }

.page_deck-present { background: black; }
.page_deck-present .slide { margin: 0; }
