* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; padding: 0; }

body, button, input, textarea { font-family: 'Slabo 27px', serif; }
textarea { font-size: inherit; }

.menu { width: 100%; position: fixed; top: 0; left: 0; }

.logo, .menu-modes, .menu-theme, .menu-stats { display: inline-block; height: 44px; line-height: 32px; border: 4px solid #FFF; border-radius: 10px; background: white; }

.logo > div, .menu-mode, .menu-theme > div, .menu-stats > div { border: 2px solid #000; border-radius: 6px; border-bottom-width: 4px; height: 100%; }

.menu td { padding: 10px; text-align: center; white-space: nowrap; }

.td-logo { width: 170px; }
.logo { width: 140px; height: 60px; line-height: 46px; text-decoration: none; font-size: 46px; color: inherit; margin-left: 10px; }

.td-modes { width: 50%; }
.menu-mode { width: 100px; display: inline-block; border-radius: 0; border-left-width: 1px; border-right-width: 1px; position: relative; cursor: pointer; }
.menu-mode:nth-child(1) { border-left-width: 2px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.menu-mode:last-child { border-right-width: 2px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
.menu-mode:hover { top: -1px; }
.menu-mode_selected { color: white; background-color: black; }

.td-theme { width: 50%; }
.menu-theme { width: 160px;  }
.menu-theme > div { text-align: left; padding: 0 10px; }

.td-stats { width: 180px; }
.menu-stats { width: 150px; margin-right: 10px; }
.menu-stats-bullet { display: inline-block; width: 14px; height: 14px; border-radius: 10px; border: 0px solid black; background: black; margin: 0 5px -2px 0; }
.menu-stats-bullet_live { background: red; }


.slide { display: block; width: 40em; height: 22.5em; border: 0.3em solid black; margin: 2em; border-radius: 1.5em; white-space: pre-wrap; word-break: break-word; }

.slide-inner { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 2.5em; }
.slide_43 { height: 30em; }

.page_home .slide { font-size: 5px; display: inline-block; }


.page_deck-edit > .editor, 
.page_deck-edit > .slides { float: left; }
.page_deck-edit > .slides { overflow: scroll; padding: 90px 0 60px; }

.editor, .hidden-editor { background-color: #EEE; font-size: 24px; line-height: 32px; }
.editor { padding: 130px 15px 60px 60px; border: none; outline: none; display: block; resize: none; }

.hidden-editor { white-space: pre-wrap; word-break: break-word; color: blue; position: absolute; top: 100px; left: 50%; visibility: hidden; }

.page_deck-read > .slides { margin: 0 auto; padding: 90px 0 60px; }
